@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: none;
  }
  

@layer base {
  @font-face {
    font-family: 'Magilio';
    src: url('MagilioRegular-Yzv2O.ttf') format('truetype');
  }
}

.my-custom-class {
  font-family: 'Magilio', sans-serif;
  /* other CSS styles here */
}
